<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <div class="col-sm-3">
      <div class="panel panel-success">
        <div class="panel-heading"><%= link_to work.calendar, work_path(work.id), class:"calendar-panel" %></div>
        <div class="panel-body">
          <%= work.cliant_name %>
          <%= link_to edit_work_path(work.id), class:"body-font" do %>
          <span class="fas fa-edit"></span>
          <% end %>
          <%= button_to work_path(work.id), method: :delete, class:"body-font" do %>
          <span class="fas fa-trash-alt"></span>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
