.top-font{
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.panel-cliant{
  font-size: 30px;
  text-decoration: none;
  color: coral;
  word-break: break-all;
}

.panel-body{
  font-size: 20px;
  color: grey;
  word-break: break-all;
}

.panel-font{
  font-size: 20px;
  color: dodgerblue;
  text-decoration: none;
  margin: 8px 0 0 8px;
  border: none;
  background-color: #f2dede;
}

.panel-heading{
  display: flex;
  align-items: center;
}

.search-cliant{
  display: flex;
}

.search-cliat-name{
  margin: 0 0 24px 10px;
  height: 36px;
  width: 170px;
  font-size: 20px;
  border-radius: 5px;
}

.search-btn-cliant{
  margin-bottom: 3px;
  border-radius: 5px;
}
