/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.navbar-dark .navbar-brand{
  font-size: 28px;
  margin-top: 25px;
}

a.nav-link {
  font-size: 25px;
  color: aliceblue;
}

.size{
  font-size: 10em;
  color: coral;
}

table {
  text-align: center;
  font-size: 20px;
  color: gray;
  margin: 80px;
  letter-spacing: 3em;
  border-collapse: collapse;
  width: 100%;
}

.fa-calendar-alt{
  margin-right: 45px;
}
